body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
dd,
dl,
form {
  margin: 0;
  color: #333;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}


.wrap {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

/*Button*/

.btn {
    font-size: 14px;
    font-weight: normal;
    line-height: 32px;
    display: inline-block;
    margin-bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    min-width: 4em;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 0;
    padding: 0 1em;
}

.btn>.ion {
    vertical-align: middle;
    font-size: 1.1em;
}

.btn:active,
.btn.active {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    box-shadow: none;
    filter: alpha(opacity=65);
}

.btn-default {
    color: #555555;
    border-color: #e8e9eb;
    background-color: #eeeeee;
}

.btn-default:active,
.btn-default.active {
    color: #fff;
    border-color: #eeeeee;
    background-color: #dbdbdb;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #e8e9eb;
    background-color: #fff;
}

.btn-primary,
.btn-primary:hover {
    color: #fff;
    background-color: #2EA9DF;
}

.btn-primary:active,
.btn-primary.active {
    color: #fff;
    border-color: #1979a3;
    background-color: #1979a3;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #2EA9DF;
    background-color: #2EA9DF;
}

.btn-auxiliary,
.btn-auxiliary:hover {
    color: #fff;
    background-color: #FFC408;
}

.btn-auxiliary:active,
.btn-auxiliary.active {
    color: #fff;
    border-color: #b58a00;
    background-color: #b58a00;
}

.btn-auxiliary.disabled,
.btn-auxiliary[disabled],
fieldset[disabled] .btn-auxiliary,
.btn-auxiliary.disabled:active,
.btn-auxiliary[disabled]:active,
fieldset[disabled] .btn-auxiliary:active,
.btn-auxiliary.disabled.active,
.btn-auxiliary[disabled].active,
fieldset[disabled] .btn-auxiliary.active {
    border-color: #FFC408;
    background-color: #FFC408;
}

.btn-success,
.btn-success:hover {
    color: #fff;
    background-color: #25ae88;
}

.btn-success:active,
.btn-success.active {
    color: #fff;
    border-color: #176b53;
    background-color: #176b53;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    border-color: #25ae88;
    background-color: #25ae88;
}

.btn-info,
.btn-info:hover {
    color: #fff;
    background-color: #4fcbf0;
}

.btn-info:active,
.btn-info.active {
    color: #fff;
    border-color: #13addb;
    background-color: #13addb;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    border-color: #4fcbf0;
    background-color: #4fcbf0;
}

.btn-warning,
.btn-warning:hover {
    color: #fff;
    background-color: #F05E1C;
}

.btn-warning:active,
.btn-warning.active {
    color: #fff;
    border-color: #af3e0c;
    background-color: #af3e0c;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    border-color: #e8e9eb;
    background-color: #F05E1C;
}

.btn-danger,
.btn-danger:hover {
    color: #fff;
    background-color: #CB4042;
}

.btn-danger:active,
.btn-danger.active {
    color: #fff;
    border-color: #922829;
    background-color: #922829;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    border-color: #CB4042;
    background-color: #CB4042;
}

.btn-link {
    background-color: transparent;
    font-weight: normal;
    color: #2EA9DF;
    padding: 0;
    white-space: normal;
}

.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    box-shadow: none;
}

.btn-link:active,
.btn-link.active {
    text-decoration: underline;
    color: #1979a3;
    border-color: transparent;
}

.btn-lg {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    min-width: 7em;
}

.btn-sm {
    font-size: 12px;
    height: 25px;
    line-height: 25px;
}

.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.btn-block+.btn-block {
    margin-top: 7px;
}

.btn .jon,
.form-mark .jon {
    line-height: 1.2;
    margin: 0;
    vertical-align: baseline;
}

input[type='submit'].btn-block,
input[type='reset'].btn-block,
input[type='button'].btn-block {
    width: 100%;
}

.btn-ghost,
.btn-ghost:hover {
    background: none;
    border-color: inherit;
    border: 1px solid transparent;
    line-height: 30px;
}

.btn-ghost.btn-primary {
    border-color: #2EA9DF;
}

.btn-ghost.btn-primary:hover {
    background-color: #2EA9DF;
    color: #fff;
}

.btn-ghost.btn-primary:active {
    background-color: #1979a3;
    border-color: #1979a3;
}

.btn-ghost.btn-auxiliary {
    border-color: #FFC408;
}

.btn-ghost.btn-auxiliary:hover {
    background-color: #FFC408;
    color: #fff;
}

.btn-ghost.btn-auxiliary:active {
    background-color: #b58a00;
    border-color: #b58a00;
}

.btn-ghost.btn-success {
    border-color: #25ae88;
}

.btn-ghost.btn-success:hover {
    background-color: #25ae88;
    color: #fff;
}

.btn-ghost.btn-success:active {
    background-color: #176b53;
    border-color: #176b53;
}

.btn-ghost.btn-info {
    border-color: #4fcbf0;
}

.btn-ghost.btn-info:hover {
    background-color: #4fcbf0;
    color: #fff;
}

.btn-ghost.btn-info:active {
    background-color: #13addb;
    border-color: #13addb;
}

.btn-ghost.btn-warning {
    border-color: #F05E1C;
}

.btn-ghost.btn-warning:hover {
    background-color: #F05E1C;
    color: #fff;
}

.btn-ghost.btn-warning:active {
    background-color: #af3e0c;
    border-color: #af3e0c;
}

.btn-ghost.btn-danger {
    border-color: #CB4042;
}

.btn-ghost.btn-danger:hover {
    background-color: #CB4042;
    color: #fff;
}

.btn-ghost.btn-danger:active {
    background-color: #922829;
    border-color: #922829;
}

.btn-link.btn-ghost {
    padding-left: 1em;
    padding-right: 1em;
}

.btn-link.btn-ghost:hover {
    color: #1979a3;
    border-color: #1979a3;
}

/*row*/

.row {
    display: block;
    width: 102%;
    transition: 0.2s width ease;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    clear: both;
    content: '';
  }
  .row > [class*="span-"] {
    float: left;
    margin-right: 2%;
    *margin-right: 1.89%;
  }
  .row > .span-1 {
    width: 6.33333333%;
  }
  .row > .span-2 {
    width: 14.66666667%;
  }
  .row > .span-3 {
    width: 23%;
  }
  .row > .span-4 {
    width: 31.33333333%;
  }
  .row > .span-5 {
    width: 39.66666667%;
  }
  .row > .span-6 {
    width: 48%;
  }
  .row > .span-7 {
    width: 56.33333333%;
  }
  .row > .span-8 {
    width: 64.66666667%;
  }
  .row > .span-9 {
    width: 73%;
  }
  .row > .span-10 {
    width: 81.33333333%;
  }
  .row > .span-11 {
    width: 89.66666667%;
  }
  .row > .span-12 {
    width: 98%;
  }

  /* padding & margin*/
  .m {
    margin: 22.4px;
  }
  .m-0 {
    margin: 0;
  }
  .m-l {
    margin-left: 22.4px;
  }
  .m-t {
    margin-top: 22.4px;
  }
  .m-r {
    margin-right: 22.4px;
  }
  .m-b {
    margin-bottom: 22.4px;
  }
  .m-lr {
    margin-left: 22.4px;
    margin-right: 22.4px;
  }
  .m-tb {
    margin-top: 22.4px;
    margin-bottom: 22.4px;
  }
  .m-sm {
    margin: 11.2px;
  }
  .m-l-sm {
    margin-left: 11.2px;
  }
  .m-t-sm {
    margin-top: 11.2px;
  }
  .m-r-sm {
    margin-right: 11.2px;
  }
  .m-b-sm {
    margin-bottom: 11.2px;
  }
  .m-lr-sm {
    margin-left: 11.2px;
    margin-right: 11.2px;
  }
  .m-tb-sm {
    margin-top: 11.2px;
    margin-bottom: 11.2px;
  }
  .m-lg {
    margin: 33.6px;
  }
  .m-l-lg {
    margin-left: 33.6px;
  }
  .m-t-lg {
    margin-top: 33.6px;
  }
  .m-r-lg {
    margin-right: 33.6px;
  }
  .m-b-lg {
    margin-bottom: 33.6px;
  }
  .m-lr-lg {
    margin-left: 33.6px;
    margin-right: 33.6px;
  }
  .m-tb-lg {
    margin-top: 33.6px;
    margin-bottom: 33.6px;
  }
  .p {
    padding: 22.4px;
  }
  .p-0 {
    padding: 0;
  }
  .p-l {
    padding-left: 22.4px;
  }
  .p-t {
    padding-top: 22.4px;
  }
  .p-r {
    padding-right: 22.4px;
  }
  .p-b {
    padding-bottom: 22.4px;
  }
  .p-lr {
    padding-left: 22.4px;
    padding-right: 22.4px;
  }
  .p-tb {
    padding-top: 22.4px;
    padding-bottom: 22.4px;
  }
  .p-sm {
    padding: 11.2px;
  }
  .p-l-sm {
    padding-left: 11.2px;
  }
  .p-t-sm {
    padding-top: 11.2px;
  }
  .p-r-sm {
    padding-right: 11.2px;
  }
  .p-b-sm {
    padding-bottom: 11.2px;
  }
  .p-lr-sm {
    padding-left: 11.2px;
    padding-right: 11.2px;
  }
  .p-tb-sm {
    padding-top: 11.2px;
    padding-bottom: 11.2px;
  }
  .p-lg {
    padding: 33.6px;
  }
  .p-l-lg {
    padding-left: 33.6px;
  }
  .p-t-lg {
    padding-top: 33.6px;
  }
  .p-r-lg {
    padding-right: 33.6px;
  }
  .p-b-lg {
    padding-bottom: 33.6px;
  }
  .p-lr-lg {
    padding-left: 33.6px;
    padding-right: 33.6px;
  }
  .p-tb-lg {
    padding-top: 33.6px;
    padding-bottom: 33.6px;
  }

  /*text*/
  .text-muted {
    color: #dbdbdb;
  }
  .text-black {
    color: #000;
  }
  .text-light {
    color: #fff;
  }
  .text-primary,
  .btn-ghost.btn-primary {
    color: #2EA9DF;
  }
  a.text-primary:hover {
    color: #1979a3;
  }
  .text-auxiliary,
  .btn-ghost.btn-auxiliary {
    color: #FFC408;
  }
  a.text-auxiliary:hover {
    color: #b58a00;
  }
  .text-success,
  .btn-ghost.btn-success {
    color: #25ae88;
  }
  a.text-success:hover {
    color: #176b53;
  }
  .text-info,
  .btn-ghost.btn-info {
    color: #4fcbf0;
  }
  a.text-info:hover {
    color: #13addb;
  }
  .text-warning,
  .btn-ghost.btn-warning {
    color: #F05E1C;
  }
  a.text-warning:hover {
    color: #af3e0c;
  }
  .text-danger,
  .btn-ghost.btn-danger {
    color: #CB4042;
  }
  a.text-danger:hover {
    color: #922829;
  }

  /*public*/
  .js {
    color: #666;
    font-size: 16px;
  }
